AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_airflow_db_password
AIRFLOW_DB_NAME=airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_admin_password
AIRFLOW_FERNET_KEY=your_generated_fernet_key
DWH_DB_USER=dwh_user
DWH_DB_PASSWORD=your_dwh_db_password
DWH_DB_NAME=dwh
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=your_minio_password
COINGECKO_API_KEY=your_coingecko_demo_api_key
